<ol class="breadcrumb">
   <li><a href='#/main'><i class="fa fa-home"></i> Home</a></li>
  <li><a href='#/centers'><i class="fa fa-building"></i>   Centers</a></li>
  <li class="active">	<i class="fa fa-edit"></i>
	<span ng-show="!row.id">Add New Center </span>
	<span ng-show="row.id">Edit Center</span>
	</li>
</ol> 
<alert></alert>
<loading></loading>

<div class="row"><br></div>

 <form novalidate name="nform" class="form-horizontal well col-xs-12" >
 
<div class=" col-md-7" >
	
	<div class="form-group">
		<a class="btn btn-primary" ng-click="submit()" ng-disabled="nform.$invalid" >
		<i class="fa fa-save"></i> Save</a>
		<a class='btn btn-info' href='#/centers'><i class='fa fa-list'></i>   Centers</a> 
	</div>
	
	<div class="form-group">
		<label class="col-sm-3">Name <b class="text-danger">*</b></label>
		<div class="col-sm-9">
			<input type="text" class="form-control" required name="name"  ng-model="row.name"/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3">Activation <b class="text-danger">*</b></label>
		<div class="col-sm-9">
			<select class="form-control"  required name="status" ng-model="row.status" ng-options="id as status for (id,status) in lists.status">
			</select>
		</div>
	</div>
	
	
</div>
  
</form>

  