<ol class="breadcrumb">
  <li>
    <a href="#/main"><i class="fa fa-home"></i> Home</a>
  </li>
  <li class="active"><i class="fa fa-building"></i> Students</li>
</ol>

<div class="col-xs-6 col-md-3">
  <a class="btn btn-primary" href="#/students/0"
    ><i class="fa fa-plus"></i> Add Student</a
  >
</div>
<br />
<alert></alert>
<loading></loading>
<search></search>

<div class="row"><br /></div>

<div style="    margin-top: 20px;" class="list-group col-xs-7">
  <a
    ng-repeat="row in rows| filter:search  "
    class="list-group-item"
    href
    ng-click="href(['students',row.id])"
  >
    <h4 class="list-group-item-heading">
      <small>{{ $index + 1 }}</small> - {{ row.first_name }}
      {{ row.last_name }} || {{ row.date_of_birth }}
    </h4>
    <p class="list-group-item-text">
      {{ lists.status[row.status] || row.status }}
    </p>
  </a>
</div>
