<div class="page-header">
  <h1>Admin Login  <small>Sys Administration Panel </small></h1>
</div>

<alert></alert>
<loading></loading>
<div class="row col-xs-12">
<div class="well col-xs-12 col-sm-push-2 col-lg-push-3 col-sm-8 col-lg-6">
<div class="form-group">
<label>Email Account</label>
<input ng-model="email" class="form-control">
<p class="help-block">You Email account.</p>
</div>
<div class="form-group">
<label>Password</label>
<input ng-model="pwd" class="form-control" type="password">
 
</div>


<a class="btn btn-primary" href ng-click="login()">Login</a>


</div>