.navbar-default{
	background-color:#21400d !important;	
}
.navbar-default .navbar-brand {
    color: #f0edce;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	font-weight:normal
}
.navbar-default .navbar-nav>li>a:hover {
    color: #d2f6ba;
}
.jumbotron{
	 
	background:url(../images/m_bg.png) no-repeat right top #f0edce;
}
h1 , .jumbotron h1{
	color:#76674c;
}
.jumbotron h1 small{
	color:#577444;
}

.btn-info {
    color: #fff;
    background-color: #4d7b2f;
    border-color: #3b671e;
}